spring:

  datasource:
    read:
      url: jdbc:postgresql://${POSTGRES_READ_URL}
      username: ${POSTGRES_READ_USER}
      password: ${POSTGRES_READ_PASSWORD}
      hikari:
        pool-name: read-pool
        maximum-pool-size: 30
        minimum-idle: 10
        auto-commit: false
        # Work in replica engine context / Streambox not
        #read-only: true
        transaction-isolation: TRANSACTION_READ_COMMITTED

    write:
      url: jdbc:postgresql://${POSTGRES_WRITE_URL}
      username: ${POSTGRES_WRITE_USER}
      password: ${POSTGRES_WRITE_PASSWORD}
      hikari:
        pool-name: write-pool
        maximum-pool-size: 10
        minimum-idle: 2
        auto-commit: false
        transaction-isolation: TRANSACTION_READ_COMMITTED

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        flushMode: MANUAL
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true
        default_batch_fetch_size: 50
        generate_statistics: false