spring:

  datasource:
    read:
      jdbc-url: jdbc:h2:mem:localdbrd;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
      username: sa
      password:
    write:
      jdbc-url: jdbc:h2:mem:localdbwr;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
      username: sa
      password:

  jpa:
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
