spring:

#  datasource:
#    url: jdbc:postgresql://${POSTGRES_READ_URL}
#    username: ${POSTGRES_READ_USER}
#    password: ${POSTGRES_READ_PASSWORD}
#    hikari:
#      connection-timeout: 20000
#      maximum-pool-size: 5

  datasource:
    read:
      jdbc-url: jdbc:postgresql://${POSTGRES_READ_URL}
      username: ${POSTGRES_READ_USER}
      password: ${POSTGRES_READ_PASSWORD}
    write:
      jdbc-url: jdbc:postgresql://${POSTGRES_WRITE_URL}
      username: ${POSTGRES_WRITE_USER}
      password: ${POSTGRES_WRITE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
